/* ---------------- Navbar and burger menu ------------------ */
nav {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}

.burger-bar {
  width: 3em;
  height: 0.5em;
  background-color: #fcb62a;
}

.menu {
  width: 60%;
  height: 100vh;
  background-color: #333a43;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 150px;
  position: fixed;
}

.menuBg {
  width: 40%;
  height: 100vh;
  background-color: #333a43;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  position: fixed;
}

.bar_1 {
  position: fixed;
}
.bar_2 {
  position: fixed;
  margin-top: 15px;
}
.bar_3 {
  position: fixed;
  margin-top: 30px;
}

.menu > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}

.menu p {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0em, 1.25em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.05em, 1.3em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
